{% extends 'layout.html' %} {% block title %}Home{% endblock %}

<style type="text/css">
  div {
      text-align: center;
  }

  #heading {
      font-weight: 700;
  }
</style>

{% block Main%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Welcome {% if user.is_authenticated %} {{user.username}} {% else %} {% endif %}</a>
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a href="/logout" class="btn btn-warning">Logout</a>
      </li>

    </ul>
  </nav>


<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-sm-6">
            <br>
                    <div class="card o-hidden border-0 shadow-lg my-5 pl-2 pr-2">
                        <div class="card-body">
                            <h1 class="text-center">User Details</h1>
                            
                            {% for i in ul %}

                            <div class="row border border-dark bg-success" id="heading">
                                <div class="col border border-dark pd">Details</div>
                                <div class="col border border-dark pd">Operations</div>
                              
                                
                            </div>
                      
                            <div class="row border border-dark">
                                <div class="col border border-dark pd">
                                  <strong><label>Username:</label></strong> {{i.username}}
                                </div>
                                <div class="col border border-dark pd">
                                    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditForm">Edit</a>
                                    <div class="modal" tabindex="-1" role="dialog" id="ModalEditForm">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title">Edit User Details</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <form method="POST" role="form" class="email-form">

                                              {% csrf_token %}
                                              {{editform}}
                                              <br>
                                              <button type="submit" class="btn btn-primary">Save changes</button>
                                            </form>
                                          </div>
                                          <div class="modal-footer">
                                            
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                                
                            </div>
                      
                            <div class="row border border-dark">
                                <div class="col border border-dark pd">
                                  <strong><label>Email:</label></strong> {{i.email}}
                                </div>
                                <div class="col border border-dark pd">
                                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditForm">Edit</a>
                                  <div class="modal" tabindex="-1" role="dialog" id="ModalEditForm">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Modal title</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form method="POST" role="form" class="email-form">

                                            {% csrf_token %}
                                            {{editform}}
                                            <br>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                          
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                                
                            </div>
                      
                            <div class="row border border-dark">
                                <div class="col border border-dark pd">
                                  <strong><label>Address:</label></strong> {{i.address}}
                                </div>
                                <div class="col border border-dark pd">
                                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditForm">Edit</a>
                                  <div class="modal" tabindex="-1" role="dialog" id="ModalEditForm">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Modal title</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form method="POST" role="form" class="email-form">

                                            {% csrf_token %}
                                            {{editform}}
                                            <br>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                          
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                               
                            </div>
                      
                           {% endfor %}
                        
                        <br><br>
                        </div>
                    </div>
        </div>
    </div> 
</div>

{% endblock %}