<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block title%} {%endblock%}</title>
</head>

<style>
        .login-form{
            padding: 30px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
            top: 50%;
            position: relative;
        }
        .register-form{
            padding: 30px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
            top: 4%;
            position: relative;
        }
        .pd{
            padding: 15px;
        }
</style>
<body>
    
    <div class="main">
        {% block Main%} {%endblock%}
    </div>

</body>
</html>